# Built application files
*.apk

# Android signing keys must never be committed
*.jks
*.keystore

# Files for the Dalvik VM
*.dex

# Java class files
*.class

# Gradle build files
.gradle/
build/
release/

# Local configuration file (sdk path, etc)
local.properties

#intellij project files
*.iml
*.idea
